body{
    background-image: url("../img/thumb-1920-953202.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn-primary{
    background-color: chartreuse;
}
.btn-primary:hover{
    background-color: forestgreen;
}
.bg-otra{
    background-color: blueviolet;
}
