header{
    background-image: url("../img/header.webp");
    /*background-repeat: no-repeat;*/
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: -3px;
    width: 100%;
    
}
nav{
    position: fixed;
    top: 140px;
}
nav ol li{
    background-color: cornflowerblue;
    margin: 5px;
    display: inline;
    padding: 10px;

    
}
h1{
    background-color: rgba(255, 255, 255, 0.459);
    height: 40px;
    padding: 20px;
}
article{
    background: linear-gradient(rgba(255, 0, 0, 0.411),rgba(16, 167, 16, 0.219),rgba(0, 0, 255, 0.329));
    width: 90%;
    margin-left: 5%;
    height: 700px;
    padding-top: 200px;
    

}
article h2{
    text-align: center;
}
